.allPage{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left{
    flex: 8;
}
.topLeft{
    max-height: 100%;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-around;
}

.right{
    flex: 3;
    border-left:black solid 1px ;

}
.noTags{
    position: absolute;
    top: 10%;
    font-size: 40px;
    color: rgb(224, 220, 220);
    cursor: default;
    text-align: center;

}
.sideBar{
  display: flex;
  flex-direction: column;
  

}
.sideBarBottom{
    margin-top: 80%;
    display: flex;
    justify-content: center;
}
.newTagBtn{
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    width: 10%;
}

.addingNewTag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 10%;
    margin-bottom: -20%;
    width: 70%;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.allClicked{
    background-color: rgba(34, 25, 96, 0.947);
    color: white;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  border-radius: 4px;
}
.unssignedClicked{
    background-color: rgba(34, 25, 96, 0.947);
    color: white;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  border-radius: 4px;
}
/* .printBtn{
    position: fixed;
    right: 0;
    margin-right: 28%;
} */